{% extends 'base.html' %}
{% block content %}
    <title>{{title}}</title>
    <h1> Список всех книг: {{count}}</h1>
    <form method="GET">
        {{ filter.form.name.label }}<br>{{ filter.form.name }}
        <br>{{ filter.form.count.label }}<br>{{ filter.form.count }}
        <br><br><button type="submit">Поиск</button>
    </form>
    <h6>Примечание для поиска: вводите данные корректно!</h6>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Номер книги</th>
          <th scope="col">Название книги</th>
          <th scope="col">Автор произведения</th>
          <th scope="col">Жанр</th>
          <th scope="col">Кол-во рецензий критиков</th>
          <th scope="col">Краткое описание</th>
          {% if request.user.is_superuser %}
            <th scope="col">Активна ли книга?</th>
          {% endif %}
          <th scope="col">Обновление</th>
          <th scope="col">Удаление</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
      {% for book in book %}
        <tr>
          <td>{{book.id}}</td>
          <td>{{book.title}}</td>
          <td>{{book.author}}</td>
          <td>
          {% for genre in book.genre.all %}
            {{ genre }}
          {% endfor %}
          </td>
          <td>{{book.num_of_reviews}}</td>
          <td>{{book.summary}}</td>
          {% if request.user.is_superuser %}
            <td>{{ book.is_active|yesno:"Да, Нет" }}</td>
          {% endif %}
          <td><a href="{% url 'core:book_update' pk=book.pk %}">Обновить</a></td>
          <td><a href="{% url 'core:book_delete' pk=book.pk %}">Удалить</a></td>
        </tr>
      {% empty %}
        <tr>
            <td> Список пуст </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
{% endblock %}